[submodule "schema-suite"]
	path = schema-suite
	url = https://github.com/json-schema-org/JSON-Schema-Test-Suite.git
[submodule "json-suite"]
	path = json-suite
	url = https://github.com/nst/JSONTestSuite.git
[submodule "test/syntax-suite"]
	path = test/vendor-syntax-suite
	url = https://github.com/nst/JSONTestSuite.git
[submodule "test/schema-suite"]
	path = test/vendor-schema-suite
	url = git@github.com:json-schema-org/JSON-Schema-Test-Suite.git
