
body, html {
	margin: 0;
	padding: 0;
	height: 100%;
}
section, article {
	padding: 0;
}

body {
	line-height: 1.5;
}

p {
	margin-bottom: 1rem;
	font-size: inherit;
	line-height: 1.6;
	text-rendering: optimizeLegibility;
}

h2, h3, h1 {
	font-weight: normal;
	margin-bottom: .7em;
}
h1 {
	font-size: 140%;
}
h2 {
	font-size: 120%;
}
h3 {
	font-size: 110%;
}
article > h2:first-child, section:first-child > h2 {
	margin-top: 0;
}

#nav h1 {
	margin-right: 12px;
	margin-top: 0;
	margin-bottom: 2px;
	color: #2ba6cb;
	letter-spacing: .5px;
}

a, a:visited, a:link, .quasilink {
	color: #258faf;
}

article {
	max-width: 700px;
	margin: 0 0 0 160px;
	padding: 30px 50px 100px 50px;
	z-index: 2;
	position: relative;
	min-height: 100%;
	box-sizing: border-box;
}

#nav {
	position: fixed;
	padding-top: 30px;
	max-height: 100%;
	box-sizing: border-box;
	overflow-y: auto;
	left: 0; right: none;
	width: 160px;
	text-align: right;
	z-index: 1;
}

@media screen and (min-width: 1000px) {
	article {
		margin: 0 auto;
	}
	#nav {
		right: 50%;
		width: auto;
		border-right: 349px solid transparent;
	}
}

#nav ul {
	display: block;
	margin: 0; padding: 0;
	margin-bottom: 32px;
}

#nav a {
	text-decoration: none;
}

#nav li {
	display: block;
	margin-bottom: 4px;
}

#nav li ul {
	font-size: 80%;
	margin-bottom: 0;
	display: none;
}

#nav li.active ul {
	display: block;
}

#nav li li a {
	padding-right: 20px;
	display: inline-block;
}

#nav ul a {
	color: black;
	padding: 0 7px 1px 11px;
}

#nav ul a.active, #nav ul a:hover {
	border-bottom: 1px solid #258faf;
	color: #258faf;
}
